<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-white-800"
    style="box-shadow: 6px 1px 5px rgb(29, 30, 30); z-index:5;">
    <div class="container flex flex-wrap justify-between items-center mx-auto" >
        <a href="" class="flex items-center" style="text-decoration:none ;">
            <img src="https://araujocarpio.000webhostapp.com/images/logo.svg" class="mr-3 h-6 sm:h-9" id="logo"
                alt="Flowbite Logo">
            <span class="self-center text-md font-semibold whitespace-nowrap dark:text-green-700" id="titlelogo"><span style="font-weight:400;">SISTEMA DE INFORMACIÓN</span> 
                <br>ACADÉMICO-SIA</span>
        </a>
        <div class="flex items-center md:order-2">
            <button type="button" 
                class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 "
                id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" id="avatar" src="https://scontent.fsmr1-1.fna.fbcdn.net/v/t39.30808-6/270996844_3130973297185916_1328853453349236315_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHgxhm-3OIEzE9m-N3XRhsKsBW7r0BTsRWwFbuvQFOxFRDLuyuq_8iB2SsNMzxlpHd9Gf_s1DJmf_DqNIro8m_J&_nc_ohc=Zfk79GaqNacAX_-wuL-&_nc_ht=scontent.fsmr1-1.fna&oh=00_AT-k_AiPd8IsVYWDDp3u-sGsaXx5iq68bgeQRmNsXQbxzA&oe=62B12443" alt="user photo">
                 
            </button><span class="user_name">Rubén</span>
            <label for="menu-show">
                <mat-icon class="rounded-full" id="down"
                   >arrow_drop_down</mat-icon>
            </label> 

     
        </div>
        <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
                </div>
            </div>
        </nav>

        <div class="men-user">
            <ul class="menu ">
                        <li>
                            <input type="checkbox" id="menu-show" style="display: none;" />
                            <mat-card class="card-log" id="card-log" style="display:none;">

                                <table class="table" style="border:none; list-style:none;">
                                    <tr>
                                        <td> <img class="w-11 h-12 rounded-full" src="https://scontent.fsmr1-1.fna.fbcdn.net/v/t39.30808-6/270996844_3130973297185916_1328853453349236315_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHgxhm-3OIEzE9m-N3XRhsKsBW7r0BTsRWwFbuvQFOxFRDLuyuq_8iB2SsNMzxlpHd9Gf_s1DJmf_DqNIro8m_J&_nc_ohc=Zfk79GaqNacAX_-wuL-&_nc_ht=scontent.fsmr1-1.fna&oh=00_AT-k_AiPd8IsVYWDDp3u-sGsaXx5iq68bgeQRmNsXQbxzA&oe=62B12443"alt="Rounded avatar">
                                        <td>Rubén Araujo
                                            <br />
                                            <a href="" style="font-size:10px ;">Ver
                                                tu perfil</a>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            <mat-icon class="rounded-full"
                                                style=" background-color: #e2e0e0; font-size:20px; text-align: center;">
                                                person
                                            </mat-icon>
                                        </td>
                                        <td><span
                                                style="font-size: 12px; font-weight: 500; text-align: left; margin-left: -30px;">Roles</span>
                                            <mat-icon style="float:right; font-size:20px">arrow_forward_ios
                                            </mat-icon>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <mat-icon
                                                style=" background-color: #e2e0e0; border-radius: 7px; font-size:24px;">
                                                exit_to_app</mat-icon>
                                        </td>
                                        <td><span
                                                style="font-size: 12px; font-weight: 500; text-align: left; margin-left: -30px;">Salir</span>
                                            <mat-icon style="float:right; font-size:20px">arrow_forward_ios
                                            </mat-icon>
                                        </td>
                                    </tr>
                                        <tr>
                                            <td colspan="3" style="font-size:10px; text-align: center; margin-bottom: -50px;">
                                           Unisimon &#169;2022 
                                            </td>
                                        </tr>
                                </table>
                            </mat-card>
                        </li>
                    </ul>
                </div>
        