<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-white-800"
    style="width: 100%; box-shadow: 0px 0px 5px rgb(29 30 30); z-index:5; border-radius: 0px !important;margin-bottom: 0.5vh;">
    <div class="container flex flex-wrap justify-between items-center mx-auto" >
        <a href="" class="flex items-center" style="text-decoration:none ;">
            <img src="../../assets/images/logo.svg" class="mr-3 h-6 sm:h-9" id="logo"
                alt="Flowbite Logo">
            <span class="self-center text-md font-semibold whitespace-nowrap dark:text-green-700" id="titlelogo"><span style="font-weight:400;">SISTEMA DE INFORMACIÓN</span> 
                <br>ACADÉMICO-SIA</span>
        </a>
        <div class="flex items-center md:order-2">
            <button type="button" 
                class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 "
                id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" style="background-color:white"
                id="avatar" src="../../assets/images/logo.svg" alt="user photo">
                 
            </button><span class="user_name" style="margin-left:-1.5vh; margin-right: 1vh;">Rubén</span>
            <label for="menu-show">
                <mat-icon class="rounded-full" id="down"
                   >arrow_drop_down</mat-icon>
            </label> 

     
        </div>
        <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
                </div>
            </div>
        </nav>

        <div class="men-user">
            <ul class="menu ">
                        <li>
                            <input type="checkbox" id="menu-show" style="display: none;" />
                            <mat-card class="card-log" id="card-log" style="display:none;">

                                <table class="table"  style="border:none; list-style:none; width: auto; text-align: left;">
                                    <tr>
                                        <td> <img class="w-11 h-12 rounded-full" src="../../assets/images/logo.svg"alt="Rounded avatar">
                                        <td style="float: left ;">Rubén Araujo
                                            <br />
                                            <a href="" style="font-size:10px ;">Ver
                                                tu perfil</a>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            <mat-icon class="rounded-full"
                                                style=" background-color: #e2e0e0; font-size:20px; text-align: center;">
                                                person
                                            </mat-icon>
                                        </td>
                                        <td><span
                                                style="font-size: 12px; font-weight: 500; text-align: left; margin-left: -30px;">Roles</span>
                                            <mat-icon  class="right">arrow_forward_ios
                                            </mat-icon>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <mat-icon
                                                style=" background-color: #e2e0e0; border-radius: 7px; font-size:24px;">
                                                exit_to_app</mat-icon>
                                        </td>
                                        <td><span
                                                style="font-size: 12px; font-weight: 500; text-align: left; margin-left: -30px;">Salir</span>
                                            <mat-icon class="right">arrow_forward_ios
                                            </mat-icon>
                                        </td>
                                    </tr>
                                        <tr>
                                            <td colspan="3" style="font-size:10px; text-align: center; margin-bottom: -50px;">
                                           Unisimon &#169;2022 
                                            </td>
                                        </tr>
                                </table>
                            </mat-card>
                        </li>
                    </ul>
                </div>
        