@media only screen and (max-width: 560px) {

    .card {

        
        margin: 0;
       
        left: 0;
       


    }

}
@media only screen and (max-width: 500px) {

    .card {

       
        margin: auto;
       
     


    }
    .card-title{
        font-size: 15px;
    }

}
@media only screen and (max-width: 420px) {

    .card {

        
        margin: 0;
    
        
       


    }
    .card-title{
        font-size: 12px;
    }

}

.container {
    position: absolute;
    margin: auto;

    width: 100%;
    margin: auto;
    padding: 0;
    left: 0;
    right: 0;
}

.card {

    width: 28%;
    top: 10vh;
    margin: 5px;
    float: left;
    border-radius: 4px 4px 0px 0px;
    left: 2vh;


}
.card-title{
font-weight: 500;
color: green;
}
.card-img-top{
    background-color: #9898987d;
    border-radius: 4px 4px 0px 0px;
}